[Unit]
Description=Server Cat monitoring check
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/opt/server-cat/current/server-cat-agent check --scheduled
TimeoutStartSec=2min
